main, html{
    background-color: #113959;
    color: #f5f5f5;
    font-family: "Fredoka", sans-serif;;
}

header{
    background-color: #084d6e;
    width: 100%;
}
main{
    
}
footer{
    background-color: #f1f3fa;
    width: 100%;
}
